:root {
    --primary-dark: darkcyan;
    --secondary-bg: yellow;
    --primary-text-light: aliceblue;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: var(--secondary-bg);
}

.container {
    background: var(--primary-dark);
    color:  var(--primary-text-light);
    padding: 10px;
    border-radius: 10px;
    max-width: 450px;
    text-align: center;
}
.heading {
    text-align: center;
    font-size: 30px;
}
.currency-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.currency-container select {
    padding: 10px;
}

/* FOCUS MEANS WHEN YOUR CLICKING */
select:focus,
input:focus {
    outline: none;
}

.currency-container input {
    
    background: transparent;
    font-size: 25px;
    text-align: right;
    padding: 20px;
    width: 100%;
    color: var(--primary-text-light);
}

.exchange-rate {
    font-size: 16px;
    font-weight: 600;
}